[Unit]
Description=mu-update: applies image update

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/mu-update/mu-update.sh
StandardOutput=journal+console
StandardError=journal+console
Restart=no
TimeoutStartSec=300